# =========================
# Dependencies

node_modules/
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*.local

# =========================
# Build output & coverage
# =========================
dist/
build/
coverage/
.nyc_output/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime data
# =========================
pids/
*.pid
*.pid.lock
*.seed

# =========================
# Temporary files
# =========================
tmp/
temp/
*.tmp

# =========================
# IDE & Editor files
# =========================
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# =========================
# OS-specific files
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# =========================
# Docker
# =========================
.dockerignore
push-docker
push-docker.sh
push-docker.ps1

# =========================
# Testing
# =========================
.jest_cache/

# =========================
# VS Code workspace settings
# =========================
.vscode/extensions.json
